<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label>Payee Name</label>
      <input class="form-control" (input)="onNameChange($event.target.value)" />
    </div>
    <div class="col">
      <label><b>Name</b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <input type="date" class="form-control" (input)="onDateChange($event.target.value)" />
    </div>
    <div class="col">
      <label><b>Payment Date</b></label>
      <div>
        {{ date | date: 'MMMM d, yyyy'}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Amount</label>
      <input type="number" class="form-control" (input)="onAmountChange($event.target.value)" />
    </div>
    <div class="col">
      <label><b>Amount</b></label>
      <div>
        {{ amount | currency }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Number</label>
      <input type="number" class="form-control" (input)="onNumberChange($event.target.value)" />
    </div>
    <div class="col">
      <label><b>Number</b></label>
      <div>
        {{ number | number: '1.0-2' }}
        <!-- At least one digit before the decimal, and from 0-2 after -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <input type="number" class="form-control" (input)="onMilesChange($event.target.value)" />
    </div>
    <div class="col">
      <label><b>Kilometers</b></label>
      <div>
        {{ miles | convert: 'km' | number: '1.0-4'}}
        <!-- Custom pipe contains 'm' for meters too -->
        <!-- Use pipes in directives, ngIf, etc - enclose in parens to do math on the result -->
      </div>
    </div>
  </div>
  {{ car | json}}
</div>
